/********************************************************************
Main CSS file for madr.se.
Bring Anders Ytterström <yttan@fastmail.se> a 🍺 if you find 
something useful.

Breakpoints used
----------------

    @media (min-width: 666px) {}

Table of Contents, 7-1 inspired
-------------------------------

    1. Base
    2. Components
    3. Layout
    4. Pages
    5. Themes
    6. Vendors
    7. Shame

*********************************************************************/

/* === 1. Base === */

/* 
Normalize and resets. 
Only element and attribute selectors allowed in this section. 
*/

:root {
  --color: #ddd;
  --em-color: white;

  --background-color: #222;
  --background-color-d: black;
  --background-color-l: #444;
  --background-color-ll: #666;

  --outline-color: deeppink;

  --link-color: gold;
  --link-visited-color: white;

  --code-color: turquoise;

  --aside-color: silver;

  --skip-link-color: black;

  --nav-color: #fff;
  --nav-background-color: deeppink;
}

:focus {
  outline: 4px solid var(--outline-color);
}

html {
  color: var(--color);
  font: normal medium/1.4 apple-system, system-ui, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif;
  background-color: var(--background-color);
}

figure {
  display: block;
  margin: 0;
}

strong,
i,
em,
b {
  color: var(--em-color);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

article {
  line-height: 1.66;
}

figcaption {
  text-align: center;
  margin-top: 0.5em;
}

table {
  width: 100%;
}

td,
th {
  background-color: var(--background-color-l);
  padding: 0.25em;
  font-size: 0.8em;
}

th {
  text-transform: uppercase;
  color: var(--em-color);
  background-color: var(--background-color-ll);
  font-weight: normal;
}

li {
  color: var(--em-color);
  margin: 0.75em 0;
}

li:first-child {
  margin-top: 0;
}

li:last-child {
  margin-bottom: 0;
}

li::marker {
  color: var(--link-color);
}

blockquote {
  color: var(--em-color);
  font-size: 1.2em;
  line-height: 1.2;
  font-style: italic;
  border-left: 5px solid var(--background-color-l);
  margin: 1em 1em 1em 0;
  padding-left: 1em;
}

blockquote p::after,
blockquote p::before {
  content: '"';
}

pre {
  font-size: 125%;
  max-width: 100%;
  overflow: auto;
  line-height: 1.33;
  background: rgba(0, 0, 0, .1)
}

pre>code {
  display: block;
  max-width: 500px;
}

code {
  color: var(--code-color);
  font-size: 0.75em;
  font-family: monaco, consolas, monospace;
}

[rel="author"]>img {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  padding: 0 0.6em;
  border-radius: 50%;
}

abbr {
  cursor: help;
}

iframe {
  max-width: 100%;
  max-height: 100%;
}

a:link {
  color: var(--link-color);
  transition: transform 0.3s;
}

a:hover,
a:focus {
  color: var(--em-color);
}

a:visited {
  text-decoration: line-through;
  color: var(--link-visited-color);
}

a:visited::before {
  content: "✔ ";
}

p:first-of-type {
  margin-top: 0;
}

h1 {
  font-size: 1.5em;
  line-height: 0.95;
  margin: 0.5em 0;
  color: var(--em-color);
  word-wrap: break-word;
}

@media (min-width: 666px) {
  h1 {
    font-size: 3.33em;
    margin: 1.4em 0;
  }
}

h2 {
  margin: 1.33em 0 0.66em;
  color: var(--em-color);
  border-bottom: 2px solid var(--background-color-ll);
  padding-bottom: 0.16em;
  word-wrap: break-word;
}

/* === /Base === */

/* === Components === */

/*
Use classes with BEM as naming convention. Avoid using element
selectors.
*/

/* --- visually hidden --- */
.visuallyhidden {
  position: absolute;
  left: -999em;
}

/* --- /visually hidden --- */
/* --- leaflet --- */
#leaflet {
  height: 80vh;
  min-height: 90%;
  max-height: 666px;
}

/* --- /leaflet --- */
/* --- skip link --- */
.skiplink:link {
  position: absolute;
  left: 1em;
  top: -99em;
  background-color: var(--link-color);
  color: var(--skip-link-color);
  padding: 0.5em;
}

.skiplink:focus {
  top: 1em;
}

/* --- /skip link --- */
/* --- anchor --- */
.anchor:link {
  display: inline-block;
  padding: 0 0.25em;
  margin-left: 0.75em;
  transition: none;
  transform: translateX(-99em);
}

*:hover>.anchor,
.anchor:focus {
  transform: none;
}

/* --- /anchor --- */
/* --- nav item --- */
.nav__item {
  padding: 0.5em;
  text-decoration: none;
  display: block;
}

.nav__item:hover,
.nav__item:focus {
  color: var(--em-color);
}

@media (min-width: 666px) {
  .nav__item {
    font-size: large;
    display: block;
    position: relative;
    padding: 0.5em;
    z-index: 24;
    transition: color 0.3s;
    overflow: hidden;
  }

  .nav__item:hover {
    color: var(--nav-color);
  }

  .nav__item:focus {
    color: var(--nav-color);
    background-color: var(--nav-background-color);
  }

  .nav__item::before {
    content: "";
    background-color: var(--nav-background-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transform: skewX(70deg) translateX(130%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  .nav__item:hover::before {
    transform: skewX(0) translateX(0);
    opacity: 1;
  }
}

/* --- /nav item --- */
/* --- headings --- */
.h--aside {
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 0 0 0.25em;
  color: var(--aside-color);
  border: 0;
  padding: 0;
}

.h--post {
  font-size: 2.5em;
  margin: 1em 0 0.16em;
  line-height: 1.2;
  border: 0;
  padding: 0;
}

.h--media {
  margin: 0;
  padding-bottom: 0;
  grid-area: title;
  border: 0;
  line-height: 1.2;
}

/* --- /headings --- */
/* --- recent posts --- */
.recents {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2em;
  margin-top: 0.5em;
}

.recents__item {
  margin: 0 0 0.75em;
}

/* --- /recent posts --- */
/* --- events --- */
.upcoming {
  padding-left: 0;
  list-style: none;
  line-height: 1;
}

.upcoming__item {
  margin: 1em 0;
  display: grid;
  gap: 0.33em 0.5em;
  grid-template-columns: 2em 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "when what"
    "when where";
}

.upcoming__item__when {
  grid-area: when;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: center;
  text-align: center;
}

.upcoming__item__when :first-child {
  background-color: var(--background-color-ll);
  color: var(--em-color);
  line-height: 2;
}

.upcoming__item__when :last-child {
  background-color: var(--background-color-l);
  color: var(--em-color);
  font-size: 0.8em;
  line-height: 1.6;
}

.upcoming__item__when::before {
  content: none;
}

.upcoming__item__what {
  grid-area: what;
  font-weight: bold;
}

.upcoming__item__where {
  grid-area: where;
  font-size: 0.8em;
}

/* --- /events --- */
/* --- floats --- */
@media (min-width: 666px) {
  .align-right {
    float: right;
    margin-left: 1em;
  }
}

/* --- /floats --- */
/* --- portrait --- */
.portrait {
  display: block;
  height: auto;
  width: 100%;
}

@media (min-width: 666px) {
  .portrait {
    width: 75%;
    border-radius: 50%;
    margin: 2em auto;
  }
}

/* --- /portrait --- */
/* --- no-image --- */
.no-image {
  background-color: rgba(128, 128, 128, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  height: 100%;
  color: #888;
}

/* --- /no-image --- */
/* --- teaser --- */
.teaser {
  margin: 2em 0;
}

@media (min-width: 666px) {
  .teaser {
    margin: 5em 0;
  }
}

.teaser__footer {
  text-align: right;
  font-size: 80%;
  padding: 0.5em 0 0;
  grid-area: footer;
}

.teaser--media {
  display: grid;
  grid-template-areas:
    "media title"
    "media summary"
    "footer footer";
  grid-gap: 1em;
  grid-template-columns: 30% 1fr;
  grid-template-rows: auto 1fr;
}

.teaser--media :first-child {
  grid-area: media;
}

.teaser--media__summary {
  grid-area: summary;
  margin: 0;
  padding: 0;
}

/* --- /teaser --- */
/* --- pagination --- */
.pagination {
  border-top: 2px solid var(--link-color);
  margin: 2em auto;
  display: flex;
  padding: 1em;
  justify-content: space-between;
  background-color: var(--background-color-l);
}

/* --- /pagination --- */
/* --- presentation --- */
.presentation {
  margin: 2em auto;
  font-size: 80%;
  color: var(--aside-color);
}

/* --- /presentation --- */
/* --- alert --- */
.alert--archived {
  max-width: 30em;
  margin: 2em auto;
  background-color: var(--background-color-d);
  padding: 7px 10px;
  box-shadow: 0 0 0 10px var(--background-color-d);
  border: 2px dashed var(--em-color);
  background-clip: padding-box;
  transform: rotate(-2deg) translate(10px, 20px) scale(0.8);
  opacity: 0.33;
  border-radius: 3px;
  transition: opacity 0.3s, transform 0.3s;
}

.alert--archived:hover {
  opacity: 1;
  transform: initial;
}

/* --- /alert --- */
/* --- main --- */
main {
  margin-top: 1em;
  margin-bottom: 2em;
}

@media (min-width: 666px) {
  main {
    grid-area: main;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* --- /main --- */
/* --- aside --- */
@media (min-width: 666px) {
  aside {
    grid-area: aside;
  }
}

/* --- /aside --- */
/* --- footer --- */
footer {
  text-align: center;
  padding: 2em 0;
  color: var(--aside-color);
  font-size: smaller;
}

@media (min-width: 666px) {
  footer {
    grid-area: footer;
  }
}

/* --- /footer --- */
/* --- header --- */
@media (min-width: 666px) {
  header {
    display: block;
    grid-area: header;
  }
}

/* --- /header --- */
/* --- nav --- */
nav {
  border: 2px solid var(--link-color);
  border-width: 2px 0;
  background-color: var(--background-color-l);
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 666px) {
  nav {
    border-width: 2px 2px 0 0;
    display: block;
  }
}

/* --- /nav --- */
/* --- posts --- */
.posts {
  clear: both;
}

/* --- /posts --- */
/* === /Components === */

/* === Layout === */

/*
Containers and wrappers for components.
Only BEM-naming allowed, with the following element selectors as 
exceptions: aside, body, footer, header, main and nav.
*/

body {
  max-width: 60em;
  margin: 0 auto;
  padding: 0.5em;
}

@media (min-width: 666px) {
  body:not(.homepage) {
    display: grid;
    grid-template-areas:
      "main header"
      "main aside"
      "footer footer";
    grid-template-columns: 1fr 15em;
    grid-template-rows: auto 1fr auto;
    grid-gap: 2em;
    align-items: start;
  }
}

@media (min-width: 1222px) {
  body {
    padding: 1em;
  }

  body:not(.homepage) {
    grid-gap: 3em;
  }
}

/* === /Layout === */

/* === Pages === */

/*
Styles that should only apply to certain pages.
Only BEM-naming allowed.
*/

/* === /Pages === */

/* === Themes === */

/*
Styles to create user-customized themes.

This section adapts the design to the following user preferences:
Color theme, reduced motion
*/

@media (prefers-color-scheme: light) {
  :root {
    --color: #222;
    --background-color: #fff;

    --em-color: black;
    --background-color-d: #f1f1f1;
    --background-color-l: #f6f6f6;
    --background-color-ll: #e5e5e5;

    --outline-color: deeppink;

    --link-color: #066;
    --link-visited-color: black;

    --code-color: magenta;

    --aside-color: #607080;

    --skip-link-color: white;

    --nav-color: black;
    --nav-background-color: gold;
  }
}

@media (prefers-reduced-motion) {

  *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
  }
}

/* === /Themes === */

/* === Vendors === */

/*
Styles belonging to third-party components.
*/

.footnotes-list {
  color: var(--aside-color);
  font-size: 80%;
}

/* === /Vendors === */

/* === Shame === */

/*
Styles necessary for specifity issues and for cutting corners
(breaking the rules in short terms in waiting for an opportunity
to rewrite or fix a problem for good).

madr.se has no reason to feel ashamed. Yet.
*/

/* === /Shame === */